<h4>Post details:</h4>
<%@currpost.each do |row| %>
	<div class="form-group"><small><label for="PostDate" class="col-sm-2 control-label">Added at<br /><%=row['created_date']%></label></small>
	<div class="col-sm-9">
	<%=row['posttext']%>
	</div>
	</div>
	<br /><hr />
<div class="form-group"><h4>Comments:</h4></div>
<%@allcomments.each do |comm| %>
	<small><label for="PostDate" class="col-sm-2 control-label">Added at<br /><%=comm['created_date']%><br />by <%=comm['author'] == 0 ? 'Anonymous' : comm['author']%></label></small>
	<div class="col-sm-9">
	<p><%=comm['commtext']%></p>
		<hr />
	</div>
<%end%>
<div class="form-group">
	<form role=form" action="/comms/<%=row['id']%>" method="POST">
		<div class="col-sm-8 col-sm-offset-3">
		<textarea class="form-control" rows="5" placeholder="Type comment here" name="commtext"></textarea>
		<br />
  		<button type="submit" class="btn btn-primary">Post comment</button>
  		</div>
	</form>
	</div>

<%end%>