<h2>Latest posts</h2><hr />
<%@newposts.each do |post| %>
	<small><label for="PostDate" class="col-sm-2 control-label">Added at<br /><%=post.created_at%><br />by <%=post.author == nil || post.author == '' ? 'Anonymous' : post.author%></label></small>
	<div class="col-sm-9">
	<p><%=post.content%></p>
		<p class="text-right"><a href="/comms/<%=post.id%>">Comments: <%=post.commnum%></a></p>
		<hr />
	</div>
<%end%>